/config/app.php


/vendor/*
/tmp/*
/logs/*
/plugins/*

/webroot/coverage/*

/webroot/img/contacts/*
!/webroot/img/contacts/noimg.png
/webroot/scss/.sass-cache/*
/webroot/scss/components/default/.sass-cache/*
/webroot/scss/components/css/*

/webroot/config.codekit

.htaccess
/webroot/.htaccess

/webroot/files/uj_contact_felvitele.ogv

/.idea

config/extras\.php
/nbproject/private/

/webroot/js/.gitignore