@import "components/functions";
@import "components/_global";

// INCLUDES
$include-reset: true;
$include-grid: true;
$include-xl-grid: false;
$include-block-grid: false;
$include-xl-block-grid: false;
$include-panel: true;
$include-type: true;
$includ-type-align-classes: false;
$include-table: true;
$include-list: true;
$include-inline-list: true;
$include-pagination: true;
$include-form: true;
$include-button: true;
$include-tabs: true;
$include-visibility: false;



// MEDIA QUERY RANGES
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);



// GRID DEFAULTS
$row-width: rem-calc(960);
$total-columns: 12;
$column-gutter: rem-calc(40);
$last-child-float: $default-float;

// INCLUDE GRID ELEMENTS - PUSH-PULL, OFFSET, RESET ORDER 
$include-column-push-pull: false;
$include-column-offset: false;
$include-column-reset-order: false;



// BLOCK GRID DEFAULTS
$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(20);
$block-grid-media-queries: true;



// PANEL DEFAULTS
$panel-background: none;
$panel-border-color: $divider-color;
$panel-border-radius: 0;
$panel-border-size: 0;
$panel-border-style: solid;
$panel-font-color-alt: $font-oposit-color;
$panel-font-color: $font-primary-color;
$panel-header-adjust: true;
$panel-margin-bottom: 0;
$panel-padding: rem-calc(10) rem-calc(20);



// HEADING DEFAULTS
$header-font-color: $font-primary-color;
$header-font-family: $body-font-family;
$header-font-style: $font-weight-normal;
$header-font-weight: $font-weight-normal;
$header-line-height: 1.4;
$header-margin-bottom: .5rem;
$header-margin-top: .2rem;
$header-text-rendering: optimizeLegibility;

$h1-font-size: rem-calc(48);
$h2-font-size: rem-calc(38);
$h3-font-size: rem-calc(32);
$h4-font-size: rem-calc(24);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$h1-font-reduction: rem-calc(10);
$h2-font-reduction: rem-calc(10);
$h3-font-reduction: rem-calc(5);
$h4-font-reduction: rem-calc(5);
$h5-font-reduction: 0;
$h6-font-reduction: 0;

// PARAGRAPH DEFAULTS
$paragraph-font-size: rem-calc(14);
$paragraph-font-weight: $font-weight-normal;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-font-family: inherit;
$paragraph-text-rendering: optimizeLegibility;

// LINK DEFAULTS
$link-font-color: $primary-color;
$link-font-color-hover: $secondary-color;
$link-font-size: $paragraph-font-size;
$link-text-decoration-hover: none;
$link-text-decoration: none;

// CODE DEFAULTS
$code-background-color: scale-color($secondary-color, $lightness: 70%);
$code-border-color: scale-color($code-background-color, $lightness: -10%);
$code-border-size: 1px;
$code-border-style: solid;
$code-color: #ccc;
$code-font-family: $font-family-monospace;
$code-font-weight: $font-weight-normal;
$code-padding: rem-calc(2) rem-calc(5) rem-calc(1);

// BLOCKQUOTES DEFAULTS
$blockquote-border: 1px solid #ccc;
$blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
$blockquote-cite-font-size: rem-calc(13);
$blockquote-cite-link-color: $blockquote-cite-font-color;

// <SMALL> DEFAULTS
$small-font-size: 60%;

// HR DEFAULTS
$hr-border-color: $divider-color;
$hr-border-style: solid;
$hr-border-width: 1px;
$hr-margin: rem-calc(20);



// TABLE DEFAULTS
$table-bg: #fff;
$table-even-row-bg: #f8f8f8;
$table-width: 100%;

$table-border-style: solid;
$table-border-size: 0;
$table-border-color: $divider-color;
$table-border-collapse: separate;

$table-head-bg: #e7e7e7;
$table-head-font-size: rem-calc(14);
$table-head-font-color: $body-font-color;
$table-head-font-weight: $font-weight-bold;
$table-head-padding: rem-calc(8 10 10);

$table-foot-bg: $table-head-bg;
$table-foot-font-size: $table-head-font-size;
$table-foot-font-color: $table-head-font-color;
$table-foot-font-weight: $table-head-font-weight;
$table-foot-padding: $table-head-padding;

$table-caption-bg: transparent;
$table-caption-font-color: $table-head-font-color;
$table-caption-font-size: rem-calc(16);
$table-caption-font-weight: bold;

$table-row-padding: rem-calc(9 10);
$table-row-font-size: rem-calc(14);
$table-row-font-color: $body-font-color;
$table-line-height: rem-calc(18);

$table-layout: auto;
$table-display: table-cell;
$table-margin-bottom: rem-calc(20);



// LSIT DEFAULT STYLE
$list-font-family: $paragraph-font-family;
$list-font-size: $paragraph-font-size;
$list-line-height: $paragraph-line-height;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-position: inside;
$list-side-margin: 1.1rem;
$list-ordered-side-margin: 1.4rem;
$list-side-margin-no-bullet: 0;
$list-nested-margin: rem-calc(20);

$definition-list-header-weight: $font-weight-bold;
$definition-list-header-margin-bottom: .3rem;
$definition-list-margin-bottom: rem-calc(12);



// INLINE LIST DEFAULTS
$inline-list-top-margin: 0;
$inline-list-opposite-margin: 0;
$inline-list-bottom-margin: rem-calc(17);
$inline-list-default-float-margin: rem-calc(-22);
$inline-list-default-float-list-margin: rem-calc(22);
$inline-list-padding: 0;
$inline-list-overflow: hidden;
$inline-list-display: block;
$inline-list-children-display: block;



// PAGINATION DEFAULT STYLE
$pagination-border-radius: $global-radius;

$pagination-color: $font-secondary-color;
$pagination-hover-background: $body-secondary-color;
$pagination-hover-color: $font-primary-color;

$pagination-active-background: $primary-color;
$pagination-active-color: $font-oposit-color;
$pagination-active-hover-background: $primary-color;
$pagination-active-hover-color: $font-primary-color;

$pagination-margin: rem-calc(0 4);
$pagination-main-padding: rem-calc(20 0);
$pagination-padding: rem-calc(2 8);



// FORM DEFAULTS
$form-margin: 0;
$form-row-margin: 1em;

$input-bg-color: $body-primary-color;
$input-border-color: $divider-color;
$input-border-radius: $global-radius;
$input-border-style: solid;
$input-border-width: 1px;
$input-box-shadow: none;
$input-float-left-margin: rem-calc(10);
$input-float-right-margin: rem-calc(10);
$input-font-color: $font-primary-color;
$input-font-family: $font-family-sans;
$input-font-size: rem-calc(14);
$input-height: auto;
$input-line-height: 1.3;
$input-margin: 0;
$input-padding: rem-calc(8 10);
$input-width: 100%;

$input-focus-bg-color: scale-color(#f8f8f8, $lightness: 80%);
$input-focus-border-color: scale-color(#fff, $lightness: -20%);

$input-disabled-bg: #ccc;
$input-disabled-cursor: $cursor-default-value;

$label-font-color: lighten($font-primary-color, 30%);
$label-font-family: $font-family-sans;
$label-font-size: rem-calc(14);
$label-margin: 0 0 rem-calc(5) 0;
$label-padding: 0;
$label-width: 100%;

$fieldset-border-color: #ccc;
$fieldset-border-radius: $global-radius;
$fieldset-border-style: solid;
$fieldset-border-width: 1px;
$fieldset-margin: rem-calc(18 0);
$fieldset-padding: rem-calc(20);

$legend-bg: #fff;
$legend-font-weight: $font-weight-bold;
$legend-padding: rem-calc(0 3);



// VISIBILITY DEFAULTS
$include-accessibility-classes: true;
$include-table-visibility-classes: true;
$include-legacy-visibility-classes: true;



// TABS DEFAULTS
$tab-background: $body-secondary-color;
$tab-active-background: $body-primary-color;
$tab-border-radius: $global-radius;
$tab-font-size: rem-calc(12);
$tab-margin: 0 0 0 1px;
$tab-padding: rem-calc(10 15);

$tab-content-background: $body-primary-color;
$tab-content-border-radius: $global-radius;
$tab-content-padding: rem-calc(15);