header { background: #15848f; left: 0; padding: 0 1rem; position: fixed; top: 0; width: 100%; z-index: 100; }
header:before, header:after { content: " "; display: table; }
header:after { clear: both; }

.header-search { display: block; float: right; margin: 9px 0 0 0; max-width: 200px; width: 100%; }
.header-search form input { background: #0e5b63; border: none; color: #ffffff; height: 30px; margin: 0; padding: 2 10px; }

nav.primary { display: block; float: left; padding: 0 1rem; width: auto; }
nav.primary ul { list-style: none; margin: 0; padding: 0; }
nav.primary ul > li { color: #ffffff; cursor: pointer; display: block; float: left; list-style: none; position: relative; padding: 0.875rem 1.75rem 0.875rem 0.625rem; }
nav.primary ul > li:before { border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #fff; content: " "; display: block; height: 0; margin: -1px 0 0 0; position: absolute; right: 14px; top: 50%; width: 0; }
nav.primary ul > li:hover { background: #0e5b63; }
nav.primary ul > li ul { background: #0e5b63; display: block; left: 0; min-width: 200px; position: absolute; top: 100%; z-index: 100; }
nav.primary ul > li ul li { display: block; float: none; margin: 0; padding: 0; widows: 100%; }
nav.primary ul > li ul li:before { display: none; }
nav.primary ul > li ul li a { color: #ffffff; display: block; padding: 0.3125rem 0.625rem; width: 100%; }
nav.primary ul > li ul li a:hover { background: #0b464c; }
nav.primary ul > li a { display: block; }

header .main-logo { display: block; float: left; margin: 10px 0 0 0; padding: 0 1rem 0 0; width: auto; }
header .main-logo a { display: block; height: 30px; line-height: 30px; overflow: hidden; }
header .main-logo a img { max-width: 135px; }

.sidebar-wrapper { background: #15848f; display: block; height: 100%; left: 0; padding: 70px 0 0 0; position: fixed; top: 0; width: 180px; z-index: 50; }

.sidebar-wrapper nav { display: block; width: 100%; }

.sidebar-wrapper nav ul { list-style: none; margin: 0; padding: 0; width: 100%; }

.sidebar-wrapper nav ul li a { display: block; color: #ffffff; padding: 0.125rem 0.9375rem; width: 100%; }

.sidebar-wrapper nav ul li a:hover { background: #0e5b63; }

.content-wrapper { display: block; padding: 0 0 2.5rem 11.25rem; position: relative; width: 100%; }

.user-details-view { background: #fff; border-bottom: solid 1px #e5e5e5; display: block; margin: 0 0 3.75rem 0; padding: 0 0 3.75rem 0; width: 100%; }

.user-details-view:before, .user-details-view:after { content: " "; display: table; }

.user-details-view:after { clear: both; }

.user-details-view .main-title { margin-bottom: 1.25rem; }

.user-details-view .user-profile-image img { height: auto; max-width: 75%; }

.user-details-view .user-profile-details .row + .row { border-top: solid 1px #e5e5e5; }

.paginator { display: block; position: relative; width: 100%; }

.paginator .pagination-counter { font-size: 0.875rem; color: #b3b3b3; display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -webkit-transform: translateY(-50%); }

.main-login .main-login-logo { padding-bottom: 20px; }

.tag { display: block; color: white; border-radius: 5px; padding: 3px 10px 5px; font-weight: bold; width: auto; float: left; margin: 5px 10px 0 0; }
.tag label { line-height: 1; }
.tag input { line-height: 1; margin: 0 10px 0 0; }

.tag label { color: #fff; margin: 0 !important; padding: 0 !important; }

.tag-mine { background: #428BCA; }

.tag-viewable { background: #5CB85C; }

.tag-shared { background: #5BC0DE; }

.tag-default, .removeable:hover { background: #777777; }

.tag-danger { background: #D9534F; }

main.primary-content { display: block; padding: 7.5rem 0; width: 100%; }
main.primary-content:before, main.primary-content:after { content: " "; display: table; }
main.primary-content:after { clear: both; }

.user-add-form form .column.radio label:first-child { margin: 0 0 0.3125rem 0; width: 100%; }
.user-add-form form .column.radio label { display: block; float: left; margin: 0 1.25rem 0 0; width: auto; }
.user-add-form form .column.radio label input { margin: 0 0.3125rem 0 0; }

.ui-autocomplete { background: #0e5b63; display: block; left: 0; min-width: 100px; max-height: 250px; overflow-y: auto; position: absolute; top: 100%; z-index: 100; }
.ui-autocomplete li { display: block; float: none; margin: 0; padding: 0; widows: 100%; }
.ui-autocomplete li:before { display: none; }
.ui-autocomplete li a { color: #ffffff; display: block; padding: 0.3125rem 0.625rem; width: 100%; }
.ui-autocomplete li a:hover, .ui-autocomplete .ui-state-focus { background: #15848f; }

/* VIEWS */
.users.view { border-left: solid 1px #e5e5e5; }
.users.view .user-main-view { display: block; margin: 0 0 3.75rem 0; padding: 0 5rem; }
.users.view .user-main-view .row h2 { margin: 0 0 1.25rem 0; }
.users.view .user-main-view .row .label { color: #b3b3b3; }
.users.view .user-main-view .row:first-child + .row { border-top: none; }
.users.view .user-main-view .row + .row { border-top: solid 1px #e5e5e5; }


.ui-datepicker{
	box-shadow: 0 0 5px #ccc;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
	padding: 10px 0 0;
}
.ui-datepicker table{
	margin-bottom: 0;
}
.ui-datepicker td{
	cursor: pointer;
	text-align: center;
}
.ui-datepicker td:hover{
	background: #e5e5e5;
}
.ui-datepicker td.ui-datepicker-unselectable:hover{
	background: #fff;
	cursor: default;
}
.ui-datepicker-title{
	clear: both;
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.ui-datepicker-prev{
	cursor: pointer;
	float: left;
	margin-bottom: 10px;
	padding-left: 10px;
}
.ui-datepicker-next{
	cursor: pointer;
	float: right;
	margin-bottom: 10px;
	padding-right: 10px;
}
.ui-datepicker-current-day{
	background: #15848f;
}
.ui-datepicker-current-day a{
	color: #fff;
}
.ui-datepicker-today{
	background: #8dc2c7;
}
.ui-datepicker-today:hover{
	background: #15848f;
}
.ui-datepicker-today a{
	color: #fff;
}

