header{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

header img{
  display: inline;
  z-index: 5;
  position: absolute;
  right: 0;
}

header input[type="text"]{
  font-size: 0.8em;
  margin: 0;
}

#container{
  margin-top: 84px;
}

div.actions{
  position: fixed;
  top: 84px;
  z-index: 8;
}

#usersInfo{
  margin: 84px 0 0 20%;
  width: 55%;;
}

#loginform form{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 50%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
}

.sf-menu{
  margin-right: 4em;
}

.sf-menu > li{
  padding: .8em 2em;
  background: #15848f;
  border-top: 1px solid #15848F;
  border-left: 1px solid #15848F;
}

.sf-menu > li:hover{
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.sf-menu ul li{
  background: #15848f;
}

.sf-menu a{
  color: #fff;
}

.sf-menu li {
	background: #15848f;
	-webkit-transition: none;
	transition: none;
}

.sf-menu ul li:hover {
  background: #0f459c;
}

.sf-menu li.sfHover, .sf-menu li.sfHover:hover{
  background: #15848f;
}

header .header-title{
  padding-left: 0;
  font-size: 1rem;
}

.header-help a{
  color: #fff;
}

.header-title span.notice{
  background: #F0AD4E;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 1.5em;
  text-align: center;
}

.actions{
  clear: left;
}

select[multiple]{
  height: 300%;
}

.b{
  font-weight: bold;
}
.i{
  font-style: italic;
}
.r{
  text-align: right;
}

.fr{
  float: right;
}

#map{
  width: 50em;
  height: 30em;
  margin: 0 auto;
}
#mapsmall{
  width: 30em;
  height: 20em;
  margin: 0 auto;
}


.cluster {
    color: #fff;
    font-family: "Arial,Helvetica";
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
.cluster-1 {
    background-image: url("../img/m1.png");
    height: 52px;
    line-height: 53px;
    width: 53px;
}
.cluster-2 {
    background-image: url("../img/m2.png");
    height: 55px;
    line-height: 53px;
    width: 56px;
}
.cluster-3 {
    background-image: url("../img/m3.png");
    height: 65px;
    line-height: 66px;
    width: 66px;
}

.infobulle {
    background-color: rgb(57, 57, 57);
    border: 1px solid #2c2c2c;
    border-radius: 4px;
    clear: both;
    cursor: default;
    height: 34px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.infobulle .bg {
    background-color: #5e5e5e;
    border: 0 none;
    font-size: 1px;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.infobulle .text {
    color: #fff;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
    margin-top: -17px;
    padding: 4px 20px;
    text-shadow: 0 -1px 0 #000;
    white-space: nowrap;
}
.infobulle.drive .text {
    padding: 4px 20px 4px 36px;
}
.arrow {
    border-color: #2c2c2c transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 0;
    height: 0;
    left: 45px;
    margin-left: 0;
    position: absolute;
    width: 0;
}

.addlinkups .checkbox{
  width: 24%;
  float: left;
}

td.actions a{
  display: block;
  border: thin solid #15848F;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  margin: 1px auto;
}

.tag{
  color: white;
  border-radius: 3px;
  padding: 2px 10px;
  font-weight: bold;
  line-height: 2em;
}


.tag-mine{
  background: #428BCA;
}

.tag-viewable{
  background: #5CB85C;
}

.tag-shared{
  background: #5BC0DE;
}

.tag-default, .removeable:hover{
  background: #777777
}
.tag-danger{
  background: #D9534F;
}

#tabs{
  margin: 0;
  padding: 0;
}

.draggable{
  cursor: grab;
}

.ui-droppable{
  min-height: 1.7em;
}

.removeable{
  cursor: not-allowed;
}

.ui-tabs-vertical { width: 61em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 101%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right;}
#tabs .ui-widget-content,
#tabs .ui-state-active,
#tabs .ui-widget-content .ui-state-active,
#tabs .ui-widget-header,
#tabs .ui-widget-header .ui-state-active,
#tabs .ui-state-default,
#tabs .ui-widget-content .ui-state-default,
#tabs .ui-widget-header .ui-state-default,
#tabs .ui-state-hover,
#tabs .ui-widget-content .ui-state-hover,
#tabs .ui-widget-header .ui-state-hover,
#tabs .ui-state-focus,
#tabs .ui-widget-content .ui-state-focus,
#tabs .ui-widget-header .ui-state-focus {
  background: none;
  border: 1px solid #fff;
  font-weight: normal;
  line-height: inherit;
  margin-bottom: 2px;
}
#tabs .ui-state-active,
#tabs .ui-widget-content .ui-state-active,
#tabs .ui-widget-header .ui-state-active,
#tabs .ui-state-hover,
#tabs .ui-widget-content .ui-state-hover,
#tabs .ui-widget-header .ui-state-hover{
  border-color: #15848F;
}

#tabs.ui-widget-content{
  border: none;
}
a.ui-tabs-anchor{width: 100%}
.ui-widget-content a.tag{color: white;}

.subheader{
  width: 45%;
  float: left;
}

.actions.columns{
  border-right: 5px solid #15848f;
  border-left: none;
}

.ui-tabs-vertical .actions{
	overflow: hidden;
	padding-right: 0;
}
.ui-tabs-vertical .actions h3{
	padding: 0 .55em;
}
.ui-tabs-vertical .actions .side-nav{
	padding-right: 0;
	margin-right: -1px;
	width: 100%;
}

#tabs .side-nav li.ui-state-hover a:hover{
  color:#15848F;
}

#tabs .ui-widget-header .ui-state-active,
#tabs .ui-state-default{
	background: #15848f;
}
#tabs .side-nav li.ui-state-active a, #tabs .side-nav li.ui-state-active a:hover{
  color: #fff;
}

#tabs .ui-widget-header .ui-state-hover{
    border-color: #15848f;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div:not(.radio) > label{
	clear: left;
}

div.radio > label{
  display: inline;
  margin-right: 1em;
}

table{
  table-layout: auto;
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
  background: none repeat scroll 0 0 #f5f5f5;
}

table thead {
  background: none repeat scroll 0 0 #f2f2f2;
}

.select .checkbox{
  float: left;
  margin-left: 1em;
}