*, ul, ol ol, ol ul, ul ol, ul ul {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #222222;
    cursor: auto;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

tr {
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    width: 100%;
    background: #15848f;
    padding: 0.3rem;
    position: fixed;
}

header .main-logo a img {
    max-height: 2.2rem;
}

nav.primary {
    position: relative;
}

#hamburger {
    position: absolute;
    top: 8px;
    right: 3px;
    cursor: pointer;
    padding: 10px;
}
#hamburger span, #hamburger span::before, #hamburger span::after {
    content: '';
    background: #eee;
    width: 30px;
    height: 4px;
    display: block;
    transition: transform 300ms ease-in-out, opacity 600ms ease-in-out;
}
#hamburger span::before {
    transform: translateY(-9px);
}
#hamburger span::after {
    position: relative;
    top: 5px;
}
#hamburger.opened span {
    transform: rotate(45deg);
}
#hamburger.opened span::before {
    transform: rotate(-90deg);
}
#hamburger.opened span::after {
    opacity: 0;
}
#menu {
    opacity: 0;
    transform: scale(0);
    background: #15848f;
    position: absolute;
    right: 0;
    width: 70%;
    transform-origin: top right;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
    padding-left: 1em;
}
#menu li {
    cursor: pointer;
}
#menu li ul {
    display: none;
}
#hamburger.opened ~ #menu {
    opacity: 1;
    transform: scale(1);
}
#menu ul {
    list-style-type: none;
    color: #eee;
}
#menu a {
    color: #eee;
    width: 100%;
    display: inline-block;
    padding: 0.3em 1em;
}
#menu a:hover{
    background-color: #068;
}

main {
    padding-top: 50px;
}

#loginform {
    margin-top: 3vh;
    border: thin solid #aaa;
    padding: 2em;
    box-shadow: 5px 10px 8px #aaa;
}

.sidebar-wrapper {
    font-size: 1.2rem;
    background: #15848f;
    color: #eee;
    padding: 0;
}
.sidebar-wrapper ul {
    list-style-type: none;
}
.sidebar-wrapper a {
    color: #eee;
    padding: 1em;
    border-bottom: 1px solid #068;
    display: inline-block;
    width: 100%;
}
.sidebar-wrapper a:hover {
    background: #068;
}

.message-box, .message {
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0.7rem auto;
    padding: 0.625rem;
    max-width: 680px;
    width: 100%;
    border-radius: 5px;
}

#dashboard h2 {
    clear: both;
}
.dashstat:nth-child(odd) {
    clear: both;
}
.dashstat {
    width: 40%;
    float: left;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}
.dashstat h6 {
    font-size: 4rem;
    margin: 0;
}

.message.error, .error-message {
    background: #ffd6d0;
    border-color: #ff4f37;
    color: #222222;
}
.message.error::before, .error-message::before {
    content: "✖";
    padding: 0px 1em 0px 0px;
}

@media screen and (min-width: 539px) {
    main.row {
        max-width: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .main-logo {
        max-width: 20%;
    }

    #hamburger {
        display: none;
    }

    #menu {
        transform: none;
        width: 100%;
        opacity: 1;
        display: flex;
        position: static;
    }

    #menu ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    #menu li {
        display: block;
    }

    .header-search input {
        margin: 0;
    }
}