@import "../_global";

$include-button: false !default;


// BUTTON DeFAULT STYLE
$button-tny: rem-calc(9) !default;
$button-sml: rem-calc(9) !default;
$button-med: rem-calc(9) !default;
$button-lrg: rem-calc(9) !default;

$button-display: inline-block !default;
$button-margin-bottom: rem-calc(20) !default;

$button-font-family: $body-font-family !default;
$button-font-color: #fff !default;
$button-font-color-alt: #ccc !default;
$button-font-tny: rem-calc(14) !default;
$button-font-sml: rem-calc(14) !default;
$button-font-med: rem-calc(14) !default;
$button-font-lrg: rem-calc(14) !default;
$button-font-weight: $font-weight-normal !default;
$button-font-align: center !default;

$button-function-factor: -20% !default;

$button-border-width: 0px !default;
$button-border-style: solid !default;
$button-bg-color: $primary-color !default;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor) !default;
$button-border-color: $button-bg-hover !default;
$secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor) !default;
$secondary-button-border-color: $secondary-button-bg-hover !default;
$success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor) !default;
$success-button-border-color: $success-button-bg-hover !default;
$alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor) !default;
$alert-button-border-color: $alert-button-bg-hover !default;
$warning-button-bg-hover: scale-color($warning-color, $lightness: $button-function-factor) !default;
$warning-button-border-color: $warning-button-bg-hover !default;
$info-button-bg-hover: scale-color($help-color, $lightness: $button-function-factor) !default;
$info-button-border-color: $info-button-bg-hover !default;

$button-radius: $global-radius !default;
$button-round: $global-rounded !default;

$button-disabled-opacity: 0.7 !default;
$button-disabled-cursor: $cursor-default-value !default;


@mixin button-base($style:true, $display:$button-display) {
	@if $style {
		border-style: $button-border-style;
		border-width: $button-border-width;
		cursor: $cursor-pointer-value;
		font-family: $button-font-family;
		font-weight: $button-font-weight;
		line-height: normal;
		margin: 0;
		position: relative;
		text-align: $button-font-align;
		text-decoration: none;
		-webkit-appearance: none;
		-webkit-border-radius:0;
	}
	@if $display { display: $display; }
}


@mixin button-size($padding:$button-med, $full-width:false) {

	@if $padding {
		@if      $padding == $button-med { font-size: $button-font-med; }
		@else if $padding == $button-tny { font-size: $button-font-tny; }
		@else if $padding == $button-sml { font-size: $button-font-sml; }
		@else if $padding == $button-lrg { font-size: $button-font-lrg; }

		padding-bottom: $padding;
		padding-#{$default-float}: $padding * 2;
		padding-#{$opposite-direction}: $padding * 2;
		padding-top: $padding;
	}

	@if $full-width {
	
		@if $padding {
			padding-bottom: $padding + rem-calc(1);
			padding-top: $padding;
		} @else if $padding == false {
			padding-bottom:0;
			padding-top:0;
		}

		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
}


@mixin button-style($bg:$button-bg-color, $radius:false, $disabled:false, $bg-hover:null, $border-color:null) {

	@if $bg {

		@if $bg-hover == null {
			$bg-hover: if($bg == $button-bg-color, $button-bg-hover, scale-color($bg, $lightness: $button-function-factor));
		}

		@if $border-color == null {
			$border-color: if($bg == $button-bg-color, $button-border-color, scale-color($bg, $lightness: $button-function-factor));
		}

		$bg-lightness: lightness($bg);
		$bg-hover-lightness: lightness($bg-hover);

		background-color: $bg;
		border-color: $border-color;
		&:hover,
		&:focus { background-color: $bg-hover; }

		color: if($bg-lightness > 70%, $button-font-color-alt, $button-font-color);

		&:hover,
		&:focus {
			color: if($bg-hover-lightness > 70%, $button-font-color-alt, $button-font-color);
		}
	}

	@if $disabled {
		cursor: $button-disabled-cursor;
		opacity: $button-disabled-opacity;
		box-shadow: none;
		&:hover,
		&:focus { background-color: $bg; }
	}

	@if $radius == true { @include radius($button-radius); }
	@else if $radius { @include radius($radius); }

}

@mixin button($padding:$button-med, $bg:$button-bg-color, $radius:false, $full-width:false, $disabled:false, $is-prefix:false, $bg-hover:null, $border-color:null, $transition: true) {
	@include button-base;
	@include button-size($padding, $full-width);
	@include button-style($bg, $radius, $disabled, $bg-hover, $border-color);
}


@if $include-button {

	button, .button {
		@include button-base;
		@include button-size;
		@include button-style;

		&.secondary { @include button-style($bg:$secondary-color, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color); }
		&.success   { @include button-style($bg:$success-color, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color); }
		&.alert     { @include button-style($bg:$alert-color, $bg-hover:$alert-button-bg-hover, $border-color:$alert-button-border-color); }
		&.warning   { @include button-style($bg:$warning-color, $bg-hover:$warning-button-bg-hover, $border-color:$warning-button-border-color); }
		&.info      { @include button-style($bg:$help-color, $bg-hover:$info-button-bg-hover, $border-color:$info-button-border-color); }

		&.left-align  { text-align: left; text-indent: rem-calc(12); }
		&.right-align { text-align: right; padding-right: rem-calc(12); }

		&.radius { @include button-style($bg:false, $radius:true); }

		&.disabled, &[disabled] { @include button-style($bg:$button-bg-color, $disabled:true, $bg-hover:$button-bg-hover, $border-color:$button-border-color);
			&.secondary { @include button-style($bg:$secondary-color, $disabled:true, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color); }
			&.success { @include button-style($bg:$success-color, $disabled:true, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color); }
			&.alert { @include button-style($bg:$alert-color, $disabled:true, $bg-hover:$alert-button-bg-hover, $border-color:$alert-button-border-color); }
			&.warning { @include button-style($bg:$warning-color, $disabled:true, $bg-hover:$warning-button-bg-hover, $border-color:$warning-button-border-color); }
			&.info { @include button-style($bg:$help-color, $disabled:true, $bg-hover:$info-button-bg-hover, $border-color:$info-button-border-color); }
		}
	}

	button::-moz-focus-inner {border:0; padding:0;}

	@media #{$medium-up} {
		button, .button {
			@include button-base($style:false, $display:inline-block);
			@include button-size($padding:false, $full-width:false);
		}
	}
}