@import "../_global";


$include-inline-list: false !default;


// INLINE LIST DEFAULTS
$inline-list-top-margin: 0 !default;
$inline-list-opposite-margin: 0 !default;
$inline-list-bottom-margin: rem-calc(17) !default;
$inline-list-default-float-margin: rem-calc(-22) !default;
$inline-list-default-float-list-margin: rem-calc(22) !default;
$inline-list-padding: 0 !default;
$inline-list-overflow: hidden !default;
$inline-list-display: block !default;
$inline-list-children-display: block !default;


@mixin inline-list {
	list-style: none;
	margin-#{$default-float}: $inline-list-default-float-margin;
	margin-#{$opposite-direction}: $inline-list-opposite-margin;
	margin: $inline-list-top-margin auto $inline-list-bottom-margin auto;
	overflow: $inline-list-overflow;
	padding: $inline-list-padding;

	& > li {
		display: $inline-list-display;
		float: $default-float;
		list-style: none;

		+ li {
			margin-#{$default-float}: $inline-list-default-float-list-margin;
		}
		
		& > * {
			display: $inline-list-children-display;
		}
	}
}

@if $include-inline-list {
	.inline-list {
		@include inline-list();
	}
}