@import "../_global";


$include-html-menu-button-classes: $include-html-classes !default;


// MENU BUTTON DEFAULT STYLE
$menu-button-color: #222 !default;
$menu-button-margin: 1em !default;
$menu-button-padding: 1em !default;

$menu-button-line-gutter: 5px !default;
$menu-button-line-height: 2px !default;
$menu-button-line-width: 40px !default;


@if $include-html-menu-button-classes {
	.menu-button {
		cursor: pointer;
		display: block;
		margin: $menu-button-margin;
		padding: $menu-button-padding;

		span {
			background: $menu-button-color;
			display: block;
			height: $menu-button-line-height;
			width: $menu-button-line-width;

			+ span {
				margin-top: $menu-button-line-gutter;
			}
		}
	}
}