@import "../_global";


$include-message-box: true !default;

// MEASSEFE BOX DEFAULTS
$message-box-border-color: $divider-color !default;
$message-box-border-style: solid !default;
$message-box-border-width: 1px !default;
$message-box-margin-bottom: rem-calc(10) !default;
$message-box-padding: rem-calc(10) !default;


@function message-box-font-color($color) {
	@if (lightness($color) > 50) {
		@return $font-primary-color;
	} @else {
		@return $font-oposit-color;
	}
}

@mixin message-box{
	// border-color: $message-box-border-color;
	border-style: $message-box-border-style;
	border-width: $message-box-border-width;
	display: block;
	margin: 0 auto $message-box-margin-bottom;
	padding: $message-box-padding;
	max-width: 680px;
	width: 100%;
}


@if $include-message-box{
	.message-box, .message{
		@include message-box;

		&.alert, &.error{
			background: lighten($alert-color, 30%);
			border-color: $alert-color;
			color: message-box-font-color($alert-color);
		}
		&.warning{
			background: $warning-color;
			background: message-box-font-color($warning-color);
		}
		&.success{
			background: $success-color;
			background: message-box-font-color($success-color);
		}
		&.help{
			background: $help-color;
			background: message-box-font-color($help-color);
		}

		&.radius{
			border-radius: $global-radius;
		}
	}
}