@import "../_global";


$include-pagination: false !default;


// PAGINATION DEFAULT STYLE
$pagination-border-radius: $global-radius !default;

$pagination-color: $font-primary-color !default;
$pagination-hover-background: $body-secondary-color !default;
$pagination-hover-color: $font-primary-color !default;

$pagination-active-background: $primary-color !default;
$pagination-active-color: $font-oposit-color !default;
$pagination-active-hover-background: $primary-color !default;
$pagination-active-hover-color: $font-primary-color !default;

$pagination-margin: rem-calc(0 4) !default;
$pagination-main-padding: rem-calc(20 0) !default;
$pagination-padding: rem-calc(2 8) !default;


@if $include-pagination {
	ul.pagination{
		display: block;
		cursor: default;
		list-style: none;
		margin: 0 auto;
		padding: $pagination-main-padding;
		width: 100%;
		
		li{
			display: block;
			float: left;
			margin: $pagination-margin;
			padding: 0;

			a{
				border-radius: $pagination-border-radius;
				display: block;
				color: $pagination-color;
				padding: $pagination-padding;

				&:hover{
					background: $pagination-hover-background;
					color: $pagination-hover-color;
				}
			}

			&.active{
				a{
					background: $pagination-active-background;
					color: $pagination-active-color;

					&:hover{
						background: $pagination-active-hover-background;
						color: $pagination-active-hover-color;
					}
				}
			}
		}

		&.centered{
			text-align: center;

			li{
				display: inline-block;
				float: none;

				a{
					display: inline-block;
				}
			}
		}
	}
}