@import "../_global";


$include-panel: false !default;


// PANEL DEFAULTS
$panel-background: $body-secondary-color !default;
$panel-border-color: $divider-color !default;
$panel-border-radius: $global-radius !default;
$panel-border-size: 0 !default;
$panel-border-style: solid !default;
$panel-font-color-alt: $font-oposit-color !default;
$panel-font-color: $font-primary-color !default;
$panel-header-adjust: true !default;
$panel-margin: 0 !default;
$panel-padding: rem-calc(14) rem-calc(10) !default;
$callout-panel-link-color: $primary-color !default;


// MIXIN - PANEL
@mixin panel($adjust:$panel-header-adjust) {
	background: $panel-background;
	border: $panel-border-color $panel-border-size $panel-border-style;
	border-radius: $panel-border-radius;
	margin: $panel-margin;
	padding: $panel-padding;
	
	// @if $panel-background > 50% { color: $panel-font-color; }
	// @else { color: $panel-font-color-alt; }

	// &>:first-child { margin-top: 0; }
	// &>:last-child { margin-bottom: 0; }

	// @if $adjust {
	// 	@if $panel-background > 50% { 
	// 		h1,h2,h3,h4,h5,h6,p,li,dl { color: $panel-font-color; }
	// 	}
	// 	@else { 
	// 		h1,h2,h3,h4,h5,h6,p,li,dl { color: $panel-font-color-alt; }
	// 	}

	// 	h1,h2,h3,h4,h5,h6 {
	// 		line-height: 1; 
	// 		margin-bottom: rem-calc(20) / 2;
	// 	}
	// }
}


// INCLUDE PANEL
@if $include-panel {
	.panel { 
		@include panel;
		@include clearfix;
	}
}