@import "../_global";


$include-html-select-classes: $include-html-classes !default;


// SELECT DEFAULT STYLE
$select-bg-color: $body-primary-color !default;
$select-border-color: $divider-color !default;
$select-border-style: solid !default;
$select-border-width: 1px !default;
$select-font-size: rem-calc(14) !default;
$select-line-height: 1.3 !default;
$select-padding: rem-calc(8 25 8 10) !default;
$select-radius: $global-radius !default;
$select-width: 100% !default;


@if $include-html-select-classes {
	// DISABLE DEFAULT SELECT LIST
	select[data-dkcacheid]{
		display: none;
	}

	.select-box,
	.select-box-multi {
		cursor: $cursor-pointer-value;
		display: block;
		line-height: $select-line-height;
		position: relative;
		vertical-align: middle;
		width: $select-width;

		&.radius{
			.selected{
				border-radius: $select-radius;
			}

			&.select-open-down{
				.selected{
					border-radius: $select-radius $select-radius 0 0;
				}
			}
			&.select-open-up .select-items {
				border-radius: $global-radius $global-radius 0 0;
			}

			&.select-open-down .select-items {
				border-radius: 0 0 $global-radius $global-radius;
			}
		}
		.selected {
			background-color: $select-bg-color;
			border: $select-border-style $select-border-width $select-border-color;
			font-size: $select-font-size;
			height: auto;
			line-height: $select-line-height;
			overflow: hidden;
			padding: $select-padding;
			position: relative;
			white-space: nowrap;
			width: 100%;
			@include global-transition;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
			}

			&:before {
				border: solid transparent;
				border-top-color: $select-border-color;
				border-width: 0.25em 0.25em 0;
				margin: -0.125em 0.5em 0 0;
				top: 50%;
			}
			&:after {
				border-left: 1px solid $divider-color;
				height: 100%;
				margin: 0 1.5em 0 0;
				top: 0;
			}

			&:hover,
			&:focus {
				border-color: $divider-color;
				
				&:before {
					border-top-color: $divider-color;
				}
				
				&:after {
					border-left-color: $divider-color;
				}
			}
		}

		.select-items {
			background-color: white;
			border: 1px solid $divider-color;
			display: none;
			left: 0;
			line-height: $select-line-height;
			list-style: none;
			margin: 0;
			max-height: 10.5em;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;
			position: absolute;
			width: 100%;
			z-index: 100;

			.select-item {
				padding: $select-padding;
				@include global-transition;
			}

			.item-highlight {
				background-color: $primary-color;
				color: #fff;
			}

			.item-disabled {
				background-color: transparent;
				color: $divider-color;
			}

			&.active-item {
				background-color: $primary-color;
				color: $font-oposit-color;
			}
		}

		.item-group {
			border-width: 1px 0;
			border: solid $divider-color;
			margin-top: 0.25em;
			padding: 0.25em 0;
			
			+ .select-item {
				margin-top: 0.25em;
			}

			+ .item-group {
				border-top-width: 0;
				margin-top: 0;
			}

			&:nth-child(2) {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}

			&:last-child {
				border-bottom-width: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}

		.item-group-label {
			font-weight: bold;
			padding: 0 0.5em 0.25em;
			width: 100%;
		}

		.item-group-options {
			list-style: none;
			padding-left: 0;
			
			li{
				padding-left: 1.2em;
			}
		}

		&.select-open-up .select-items {
			bottom: 100%;
			margin-bottom: -1px;
		}

		&.select-open-down .select-items {
			margin-top: -1px;
			top: 100%;
		}

		&.select-box-multi .select-items {
			max-height: 10em;
		}

		&.select-open-up .selected {
			border-color: $divider-color;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&.select-open-down .selected {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-color: $divider-color;
		}

		&.select-open-up .selected:before,
		&.select-open-down .selected:before {
			border-width: 0 0.25em 0.25em;
			border-bottom-color: $divider-color;
		}

		&.select-open-up .selected:after,
		&.select-open-down .selected:after {
			border-left-color: $divider-color;
		}

		&.select-open-up .select-items,
		&.select-open-down .select-items,
		&.select-multi:focus .select-items {
			display: block;
			border-color: $divider-color;
		}

		&.select-disabled {
			color: $divider-color;
			cursor: not-allowed;
			opacity: 0.6;
			
			.selected{
				&:hover, &:focus {
					border-color: inherit;
					&:before{
						border-top-color: inherit;
					}
					&:after{
						border-left-color: inherit;
					}
				}
			}
		}
	}
}