@import "../_global.scss";

$include-tabs: true !default;


// TABS DEFAULTS
$tab-background: $body-secondary-color !default;
$tab-active-background: $body-primary-color !default;
$tab-border-radius: $global-radius !default;
$tab-font-size: rem-calc(12) !default;
$tab-margin: 0 0 0 1px !default;
$tab-padding: rem-calc(10 15) !default;

$tab-content-background: $body-primary-color !default;
$tab-content-border-radius: $global-radius !default;
$tab-content-padding: rem-calc(15) !default;


@if $include-tabs{
	.tabs{
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		@include clearfix;

		li{
			display: block;
			float: left;
			width: auto;

			+ li{
				margin: $tab-margin;
			}

			a{
				background: $tab-background;
				border-top-left-radius: $tab-border-radius;
				border-top-right-radius: $tab-border-radius;
				display: block;
				font-size: $tab-font-size;
				padding: $tab-padding;

				&.active{
					background: $tab-active-background;
				}
			}
		}
	}

	.tab-content{
		background: $tab-content-background;
		border-bottom-left-radius: $tab-content-border-radius;
		border-bottom-right-radius: $tab-content-border-radius;
		border-top-right-radius: $tab-content-border-radius;
		display: block;
		width: 100%;

		.tab{
			display: block;
			float: left;
			padding: $tab-content-padding;
			position: relative;
			width: 100%;
		}
	}
}