@import "../_global";

.ui-autocomplete{
	background: darken( $primary-color, 10% );
	display: block;
	left: 0;
	min-width: 100px;
	max-height: 250px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	z-index: 100;

	li{
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		widows: 100%;

		&:before{
			display: none;
		}

		a{
			color: $font-oposit-color;
			display: block;
			padding: rem-calc(5 10);	
			width: 100%;

			&:hover{
				background: darken( $primary-color, 15% );
			}
		}
	}
}