@import "../_global";

header .main-logo{
	display: block;
	float: left;
	margin: 10px 0 0 0;
	padding: rem-calc(0 16 0 0);
	width: auto;

	a{
		display: block;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		
		img{
			max-width: 135px;
		}
	}
}