.paginator {
    display: block;
    position: relative;
    width: 100%;
}

.paginator .pagination-counter {
    font-size: 0.875rem;
    color: #b3b3b3;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
