.tag {
    display: block;
    color: white;
    border-radius: 5px;
    padding: 3px 10px 5px;
    font-weight: bold;
    width: auto;
    float: left;
    margin: 0 10px 0 0;

    label {
        line-height: 1;
    }
    input {
        line-height: 1;
        margin: 0 10px 0 0;
    }
}

.tag label {
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
}

.tag-mine {
    background: #428BCA;
}

.tag-viewable {
    background: #5CB85C;
}

.tag-shared {
    background: #5BC0DE;
}

.tag-default,
.removeable:hover {
    background: #777777
}

.tag-danger {
    background: #D9534F;
}
