@import "../_global";

.user-details-view {
    background: #fff;
    border-bottom: solid 1px #e5e5e5;
    display: block;
    margin: 0 0 3.75rem 0;
    padding: 0 0 3.75rem 0;
    width: 100%;
}

.user-details-view:before,
.user-details-view:after {
    content: " ";
    display: table;
}

.user-details-view:after {
    clear: both;
}

.user-details-view .main-title {
    margin-bottom: 1.25rem;
}

.user-details-view .user-profile-image img {
    height: auto;
    max-width: 75%;
}

.user-details-view .user-profile-details .row + .row {
    border-top: solid 1px #e5e5e5;
}
