@import "../_global";

.user-add-form form .column.radio{
	label:first-child{
		margin: rem-calc(0 0 5px 0);
		width: 100%;
	}
	label{
		display: block;
		float: left;
		margin: rem-calc(0 20px 0 0);
		width: auto;
		
		input{
			margin: rem-calc(0 5px 0 0);
		}
	}
}